:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  --color-primary: rgb(0, 90, 255);
  --color-primary-hover: rgb(0, 70, 200);
  --color-gray: rgb(220, 220, 220);
  --color-white: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body, #demo {
  margin: 0;
  height: 100%;
}

.demo {
  margin: 0;
  padding: 4rem 0;
  width: 100%;
  min-width: 16rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.demo__selected-animal {
  min-height: 1.5rem;
}

.demo__accordion-button {
  font: inherit;
  display: flex;
  width: 100%;
  align-items: center; 
  justify-content: space-between;
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 0 1rem;
  min-height: 3rem;
  margin: 1rem 0 0;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  transition: 0.25s;
  cursor: pointer;
  border: 1px solid var(--color-gray);
}

.demo__accordion-button:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.demo__accordion-button--opened {
  border-radius: 0.5rem 0.5rem 0 0;
}

.demo__accordion-list {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid var(--color-gray);
  border-top: none;
  border-radius: 0 0 0.5rem 0.5rem;
  overflow: hidden;
}

.demo__accordion-item {
  background-color: var(--color-white);
  cursor: pointer;
  padding: 0 1rem;
  min-height: 3rem;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  transition: 0.25s;
  color: var(--color-black);
}

.demo__accordion-item:hover {
  background-color: var(--color-gray);
}

.demo__accordion-item-link {
  font-size: 0.75rem;
  color: var(--color-primary);
  text-decoration: none;
}

.demo__accordion-item-link:hover {
  text-decoration: underline;
}

.demo__author {
  margin: 2rem 0 0;
  text-align: center;
}

.demo__link-list {
  margin: 1rem 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.demo__link-item:not(:last-of-type) {
  margin: 0 1rem 0 0;
}

.demo__link {
  color: var(--color-primary);
  text-decoration: none;
}

.demo__link:hover {
  text-decoration: underline;
}